* text=auto
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf
frontend/node_modules/** -text linguist-vendored binary
node_modules/ -text
node_modules/
frontend/node_modules/
